

<div class="">
date: <%= @haunting.haunting_date %>
</div>

<div class="">
customer: <%= @haunting.customer.name %>
</div>

<div class="">

</div>


<div class="">
<%=@haunting.haunting_description %>
</div>

<div class="">
<%=@haunting.ghost_name %>
</div>

<div class="">
<%=@haunting.ghost_type %>

</div>

</div>
