
<div class="container">
  <div class="placeholder">

  </div>
  <center>

<div class="title">


  <h3>Haunting Report</h3>
  </div>
    </center>

  <div class="row">

    <div class="col-md-3">

    </div>
<div class="col-md-6" id="haunting-report">

    <h3><%= @haunting.haunting_name %></h3>
<p><b>Date:</b> &nbsp;<%= @haunting.haunting_date %></p>

<br>
<div class="haunting-report-element">
<b>Customer:</b> &nbsp; <%= @haunting.customer.name %>
</div>
<br>
<div class="haunting-report-element">
<b>Account of haunting</b> &nbsp;<%=@haunting.haunting_description %>
</div>
<br>
<div class="haunting-report-element">
<b>Name of ghost</b> &nbsp;<%=@haunting.ghost_name %>
</div>
<br>
<div class="haunting-report-element">
<b>Type of ghost seen</b> &nbsp;<%=@haunting.ghost_type %>
<br>
</div>
<div class="placeholder">

</div>
<div class="placeholder">

  </div>
  <div class="placeholder">

    </div>
</div>
<div class="col-md-3">

</div>
</div>
</div>



</div>
