<div class="container" id="haunting-report-form">
<br>

<form method = 'post' action='/hauntings' >
  <center>
    <div class="row">
      <div class="col-md-6 haunting-input">
  <label for="haunting-name">Please give your haunting report a unique name</label>
  <input id="haunting-name" type="text" name="haunting_name"/>
</div>

<div class="col-md-6 haunting-input">
<label for ="haunting-date">Please select the date the incident occurred:</label>
<input id="haunting-date" type="date" name="haunting_date" max="2017-05-04">
</div>
</div>
<div class="placeholder">

</div>
<div class="row">
  <div class="col-md-6 haunting-input">
    <label for ="location-name">Where did the incident take place?</label>
    <input id ="location-name" type="text" name="location_name" size="30" /></div>


<div class="col-md-6 haunting-input">
  <label for="location-type-select">What type of location was this </label>
  <select id="location-type-select" name="location_type_id">
  <option value="" disabled selected hidden>Please Choose...</option>
    <% @location_types.each do |location_type| %>
      <option value="<%= location_type.id %>">
        <%=location_type.name  %>
       </option>
    <% end %>
  </select>
</div>
</div>

<div class="placeholder">

</div>

<div class="row">
  <div class="col-md-6 haunting-input">
    <label for ="ghost-name">Please name the ghost you saw</label>
    <input id ="ghost-name" type="text" name="ghost_name" size="30"/>
</div>

<div class="col-md-6 haunting-input">
  <label for="ghost-type-select">Please estimate what type of ghost you saw</label>

  <select id="ghost-type-select" name="ghost_type_id">
  <option value="" disabled selected hidden>Please Choose...</option>

    <% @ghost_types.each do |ghost_type| %>
      <option value="<%= ghost_type.id %>">
        <%=ghost_type.name  %>
       </option>
    <% end %>

  </select>
</div>
</div>

  <br>

  <label for="haunting-description">Please describe the ghost and your experience:</label>
  <br>
  <br>
  <div class="row">
<div class="col-md-2">

</div>
  <div class="col-md-8">

<div id="haunting-description">


  <textarea  name="report" rows="5" cols="60" placeholder="Describe your haunting">

</textarea>
</div>
  </div>
  <div class="col-md-2">

  </div>
</div>
<br>


  <label for="customer-email-select">Please select your email address </label>
  <select id="customer-email-select" name="customer_id">
    <% @customers.each do |customer| %>
      <option value="<%= customer.id %>">
        <%= customer.email_address %>
       </option>
    <% end %>

</select>
<br><br>

   <input class="submit-button" type="submit" value="Submit Details"/>
</form>


</div>
