<form method = 'post' action='/hauntings' >
  <center>
  <label for="haunting-name">Please give your haunting report a unique name based on its name </label>
  <input id="haunting-name" type="text" name="haunting_name"/>
  <br/>

  <label for="location-type-select">Please select the type of location where you had your experience </label>
  <select id="location-type-select" name="location_type_id">
    <% @location_types.each do |location_type| %>
      <option value="<%= location_type.id %>">
        <%=location_type.name  %>
       </option>
    <% end %>
  </select>
<br>
  <label for="ghost-type-select">Please select the type of ghost you think you saw </label>

  <select id="ghost-type-select" name="ghost_type_id">
    <% @ghost_types.each do |ghost_type| %>
      <option value="<%= ghost_type.id %>">
        <%=ghost_type.name  %>
       </option>
    <% end %>

  </select>
  <br>
  <label for="ghost-description">Please decribe the ghost and your experience:</label>
  <input id="ghost-description" type="text" name="ghost_description" />
<br>
  <label for="customer-email-select">Please select your email address </label>
  <select id="customer-email-select" name="customer_id">
    <% @customers.each do |customer| %>
      <option value="<%= customer.id %>">
        <%= customer.email_address %>
       </option>
    <% end %>
  <br />


   <input type="submit" value="Submit Details"/>
</form>
