


<p id="new_report">

<a href="/neghostiations/new">File a new report</a></p>
<br>
<div class="table_header">

<h3>Investigation Reports</h3>  </div>
<table>

  <% for neghostiation in @neghostiations %>
  <tr>
    <td><%=neghostiation.neghostiation_date %></td>

    <td><%=neghostiation.location %></td>
    <td><%=neghostiation.successful %></td>
    <td><%=neghostiation.id %></td>
    <td>
      <a href='/neghostiations/<%= neghostiation.id %>'>More Info</a>
    </td>
  </tr>
  <% end %>
</table>
