
<table>

  <tr class="table_header">
    <td>Haunting</td>
    <td>Date</td>
    <td>Location</td>
    <td>Location Type</td>
    <td>Ghost Name</td>
    <td>Ghost Type</td>
    <td>Description</td>
    <td>Link to Investigation</td>
  </tr >
    <% for haunting in @customer.hauntings %>
  <tr>
    <td><%=haunting.haunting_name %></td>
    <td><%=haunting.haunting_date %></td>
    <td><%=haunting.location_name %></td>
    <td><%=haunting.location_type %></td>
    <td><%=haunting.ghost_name %></td>
    <td><%=haunting.ghost_type %></td>
    <td><%=haunting.haunting_description %></td>
    <td><%=haunting.neghostiation %></td>

  </tr>
  <% end %>
</table>
