<a href="/hauntings/new">
<div class="new_report">

Report a new haunting</div></a>
<br><br><br>

<div class="title">

  <h2>Your Hauntings</h2>

  </div>
  <div class="placeholder">

  </div>

<table>

  <tr class="table_header">
    <th>Haunting</th>
    <th>Date</th>
    <th>Location</th>

    <th>More Details</th>
    <th>Link to Investigation</th>
  </tr >

    <% for haunting in @customer.hauntings %>
  <tr>
    <td><%=haunting.haunting_name %></td>
    <td><%=haunting.haunting_date %></td>
    <td><%=haunting.location_name %></td>

    <td><a href="/hauntings/<%=haunting.id %>">Show</a></td>

    <td>
      <% if haunting.neghostiation.first != nil %>
        <a href="/neghostiations/<%=haunting.neghostiation.first.id  %>">Investigation Report</a></td>
      <% else %>
        Nope :(
      <% end %>
  </tr>
  <% end %>
</table>

<div class="placeholder">

</div>
<div class="placeholder">

</div>
