
<a href="/hauntings/new">Report a new haunting</a>
<br>
  <hr><hr>
  <br>

<table>

  <tr class="table_header">
    <th>Haunting</th>
    <th>Date</th>
    <th>Location</th>
    <th>Location Type</th>
    <th>Ghost Name</th>
    <th>Ghost Type</th>
    <th>Description</th>
    <th>More Details</th>
    <th>Link to Investigation</th>
  </tr >

    <% for haunting in @customer.hauntings %>
  <tr>
    <td><%=haunting.haunting_name %></td>
    <td><%=haunting.haunting_date %></td>
    <td><%=haunting.location_name %></td>
    <td><%=haunting.location_type %></td>
    <td><%=haunting.ghost_name %></td>
    <td><%=haunting.ghost_type %></td>
    <td><%=haunting.haunting_description %></td>
    <td><a href="/hauntings/<%=haunting.id %>">Show</a></td>
    <td><a href="/neghostiations/<%=haunting.neghostiation.first.id %>">Investigation Report</a></td>

  </tr>
  <% end %>
</table>
